<div class="w-full h-screen bg-pattern" fxLayout="column" fxLayoutAlign="center center">
    <h1 fxLayoutAlign="center" class="mat-display-2">Jetzt kostenlos abheben.</h1>

    <div *ngIf="!registerSuccess" fxLayout="row" class="w-full" fxLayoutGap="12px" fxLayoutAlign="center start">
        <div class="card overflow-hidden w-full h-full max-w-lg z-10">
            <div class="text-center mt-4">
                <h2 class="mat-h2">Deine Vorteile</h2>
            </div>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <div class="rounded-full h-9 w-9 flex items-center justify-center text-green bg-green-light mr-3">
                        <mat-icon class="material-icons-outlined">done_all</mat-icon>
                    </div>
                    <p>
                        Lade unbegrenzt kostenlose lizenzfreie Aufnahmen herunter.
                    </p>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <div class="rounded-full h-9 w-9 flex items-center justify-center text-green bg-green-light mr-3">
                        <mat-icon class="material-icons-outlined">done_all</mat-icon>
                    </div>
                    <p>
                        Experimentiere kostenlos mit Pro-Aufnahmen.
                    </p>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <div class="rounded-full h-9 w-9 flex items-center justify-center text-green bg-green-light mr-3">
                        <mat-icon class="material-icons-outlined">done_all</mat-icon>
                    </div>
                    <p>
                        Inspiration durch unseren Newsletter.
                    </p>
                </mat-list-item>
            </mat-list>
            <div class="mt-8" fxLayoutAlign="center center" fxLayout="column">
                <button routerLink="/login" mat-button color="primary" type="button">
                    <span>Bereits ein Konto?</span>
                    <mat-icon inline>keyboard_arrow_right</mat-icon>
                </button>
                <button routerLink="/forgot-password" mat-button color="primary" type="button">
                    <span>Passwort vergessen?</span>
                    <mat-icon inline>keyboard_arrow_right</mat-icon>
                </button>
            </div>

        </div>
        <div class="card overflow-hidden w-full max-w-xs z-10">
            <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
                <div fxFlex="auto" fxLayout="column">
                    <mat-form-field fxFlex="grow" appearance="outline">
                        <mat-label>Dein Name</mat-label>
                        <input formControlName="name" matInput required>
                        <mat-error *ngIf="!form.get('name').valid && form.get('name').hasError('required')">Erzähl uns
                            von wer du bist.
                        </mat-error>
                        <mat-error *ngIf="!form.get('name').valid && form.get('name').hasError('pattern')">Oops, dein
                            Name darf
                            keine Sonderzeichen enthalten.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="grow" appearance="outline">
                        <mat-label>Deine E-Mail</mat-label>
                        <input formControlName="email" matInput required>
                        <mat-error *ngIf="!form.get('email').valid || form.get('email').hasError('required')">
                            Ohne E-Mail besteht leider kein Funkkontakt.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="grow" appearance="outline">
                        <mat-label>Dein Password</mat-label>
                        <input [type]="inputType" formControlName="password" matInput required>
                        <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility"
                                type="button">
                            <mat-icon *ngIf="visible">visibility</mat-icon>
                            <mat-icon *ngIf="!visible">visibility_off</mat-icon>
                        </button>
                        <mat-error *ngIf="!form.get('password').valid && form.get('password').hasError('required')">
                            Oops, das Password fehlt.
                        </mat-error>
                        <mat-error *ngIf="form.get('password').hasError('minlength')">
                            Oops, das Password ist zu kurz.
                        </mat-error>
                        <mat-hint align="end" *ngIf="form.get('password').value?.length <= 8">
                            Mindestens {{form.get('password').value?.length || 0}}/8 Zeichen.
                        </mat-hint>
                    </mat-form-field>
                </div>
                <button (click)="send()" [color]="!isLoading ? 'primary' : null" mat-flat-button type="submit" [disabled]="!form.valid" >
                    <div  *ngIf="isLoading" class="h-10 w-full" fxLayout="row" fxLayoutAlign="center center">
                        <mat-spinner color="primary" diameter="25" ></mat-spinner>
                    </div>
                    <span *ngIf="!isLoading">KOSTENLOS ANMELDEN</span>
                </button>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div class="caption">Mit der Registierung akzeptierst du unsere <a>AGB</a> und <a>
                        Datenschutzbestimmungen</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="registerSuccess" fxLayout="row" class="w-full" fxLayoutGap="12px" fxLayoutAlign="center start">
        <div class="card overflow-hidden w-full h-full max-w-lg z-10 p-gutter">
            <div class="rounded-full flex mx-auto h-24 w-24 items-center justify-center text-green bg-green-light">
                <mat-icon class="transform scale-150">check</mat-icon>
            </div>
            <div class="text-center mt-4">
                <h2 class="mat-h2">Ab gehts!</h2>
                <h4 class="mat-h4">Wir haben dir soeben eine E-Mail mit Bestätigungslink an dich versendet. Bestätige
                    deine E-Mail und hebe mit uns ab!</h4>
            </div>
        </div>
    </div>
    <div fxLayoutAlign="center center">
        <button routerLink="/login" mat-raised-button>Zum Login</button>
    </div>
</div>

<!--    #TODO Configure particles-->
<!--    <Particles id="tsparticles" [options]="particlesOptions">-->
<!--    </Particles>-->

