<div class="relative" (mouseenter)="onShow()" (mouseleave)="onHide()" >
    <div  class="video-container rounded"
         [style.backgroundImage]="poster">
        <app-vjs-player class="rounded" fxFill [style.backgroundImage]="poster" *ngIf="loadStatus" [options]=
                "{
    poster: videoItem.poster,
    fluid: false,
    aspectRatio: '16:9',
    autoplay: true,
    controls: false,
    inactivityTimeout: 0,
    videopage: false,
    sources: [{src: videoItem.itemPath, type: 'application/x-mpegURL'}]
    }"
        ></app-vjs-player>
    </div>
    <div *ngIf="showControls" class="absolute top-0 right-0 left-0 h-full w-full">
        <div class="absolute top-0 right-0 p-1">
            <mat-chip-list>
                <mat-chip *ngIf="videoItem.sell" color="primary" class="text-xxs min-h-full h-6" selected>pro</mat-chip>
                <mat-chip *ngIf="!videoItem.sell" color="accent" class="text-xxs min-h-full h-6" >linzenzfrei</mat-chip>
            </mat-chip-list>
        </div>
        <div class="absolute bottom-0 left-0 text-white cursor-pointer p-1">
            <mat-label class="text-sm  mat-body-strong">{{videoItem.title}}</mat-label>
            <br>
            <mat-label class=" text-sm mat-body-1 font-weight-lighter">Von {{videoItem.creator}}</mat-label>
        </div>
        <div class="absolute bottom-0 right-0 p-1 text-white">
            <button mat-icon-button>
                <mat-icon class="material-icons-round text-xl">add_shopping_cart</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="material-icons-round text-xl">favorite_border</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="material-icons-round text-xl">share</mat-icon>
            </button>
        </div>
    </div>
</div>


