<div class="w-full h-screen" fxLayout="column" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1  class="mat-display-2">Passwort vergessen?</h1>
        <div *ngIf="!resetSuccess" class="card overflow-hidden w-full max-w-xs">
            <div class="text-center mt-4">
                <h4 class="body-2 text-secondary m-0">Trage hier deine E-Mail für die Wiederherstellung deines
                    Passwortes
                    ein.</h4>
            </div>

            <div [formGroup]="form" class="p-6 flex flex-col">
                <mat-form-field>
                    <mat-label>E-Mail</mat-label>

                    <mat-icon class="mr-2" matPrefix>mail</mat-icon>
                    <input formControlName="email" matInput required>
                    <mat-error *ngIf="form.get('email').hasError('required')">
                        We can't recover your password, without your email.
                    </mat-error>
                </mat-form-field>


                <button (click)="send()" [color]="!isLoading ? 'primary' : null" mat-flat-button type="submit"
                        [disabled]="!form.valid">
                    <div *ngIf="isLoading" class="h-10 w-full" fxLayout="row" fxLayoutAlign="center center">
                        <mat-spinner color="primary" diameter="25"></mat-spinner>
                    </div>
                    <span *ngIf="!isLoading">     LINK ANFORDERN</span>
                </button>
            </div>
        </div>
        <div *ngIf="resetSuccess" fxLayout="column" class="w-full" fxLayoutGap="12px" fxLayoutAlign="center center">
            <div class="card overflow-hidden w-full h-full max-w-lg z-10 p-gutter">
                <div class="rounded-full flex mx-auto h-24 w-24 items-center justify-center text-green bg-green-light">
                    <mat-icon class="transform scale-150">check</mat-icon>
                </div>
                <div class="text-center mt-4">
                    <h2 class="mat-h2">Bis gleich!</h2>
                    <h4 class="mat-h4">Wir haben dir soeben eine E-Mail mit einem Wiederherstllungslink an deine E-Mail
                        versendet. Bitte folge den Anweisungen in dem Link.</h4>
                </div>
            </div>
            <div class="mt-6" fxLayoutAlign="center center">
                <button mat-raised-button color="primary" routerLink="/">Aufnahmen durchsuchen</button>
            </div>
        </div>
    </div>
    <div></div>
</div>
