<form (ngSubmit)="save()" [formGroup]="form" class="min-w-6xl">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
        <h2 *ngIf="form.get('title').value"
            class="headline m-0"
            fxFlex="auto">{{form.get('title').value}}</h2>
        <h2 *ngIf="!form.get('title').value"
            class="headline m-0"
            fxFlex="auto">Neues Video</h2>

        <div fxLayoutAlign="center start" fxLayout="column">
            <mat-slide-toggle formControlName="published" class="" color="primary"><span class="font-light text-sm">Sofort Veröffentlichen</span></mat-slide-toggle>
            <mat-slide-toggle formControlName="sell" class="mt-1" color="primary"><span class="font-light text-sm">Lizenzpflichtig</span></mat-slide-toggle>
        </div>


        <button class="ml-4" mat-icon-button type="button">
            <mat-icon class="text-secondary">help_outline</mat-icon>
        </button>
    </div>
    <mat-divider class="-mx-6 text-border mb-6"></mat-divider>

    <mat-dialog-content fxLayout="column">
        <div fxFlex="auto" fxLayout="row">
            <div fxLayout="column" fxFlex="auto">
                <ngx-dropzone [multiple]="false"
                              [maxFileSize]="500000"
                              accept="image/jpeg,image/jpg,image/png"
                              class="max-w-xxxs min-w-40 mr-6 border-2 border-primary" (change)="onSelectThumbnail($event)">
                    <ngx-dropzone-label>
                        <mat-icon class="text-3xl">add_photo_alternate</mat-icon>
                        <br>
                        <span>Thumbnail <br>hinzufügen</span>
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="thumbnail" *ngIf="thumbnail"
                                                [removable]="true" (removed)="onRemoveThumbnail()">
                    </ngx-dropzone-image-preview>
                </ngx-dropzone>
                <mat-hint class="mt-2">Maximal {{500000 | bytes}} groß</mat-hint>
            </div>


            <div fxFlex="auto" fxLayout="column">

                <!--            TITLE-->
                <mat-form-field appearance="outline" class=" flex-auto">
                    <mat-label>Titel</mat-label>
                    <input  formControlName="title" matInput>
                    <mat-error *ngIf="form.get('title').invalid">Bitte trage einen Titel ein, der dein Werk kurz und
                        prägnant beschreibt.
                    </mat-error>
                </mat-form-field>

                <div fxFlex="auto" fxLayout="row">

                    <!--            CATEGORY-->
                    <mat-form-field class="mr-6" fxFlex="auto" appearance="outline">
                        <mat-label>Kategorien</mat-label>
                        <mat-select formControlName="categories" multiple>
                            <mat-option *ngFor="let category of categoryList"
                                        [value]="category">{{category}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('categories').invalid">Bitte wähle mind. eine Kategorie aus. Wenn
                            deine
                            Kategorie fehlt, teile uns das bitte mit.
                        </mat-error>
                    </mat-form-field>

                    <!--            LOCATION -->
                    <mat-form-field class="ml-6" fxFlex="auto" appearance="outline">
                        <mat-label>Aufmahmeort</mat-label>
                        <input placeholder="Berlin, Deutschland" formControlName="location" matInput>
                        <mat-error *ngIf="form.get('location').invalid">Bitte erzähle uns wo du diese Aufnahme gemacht
                            hast. Es findet keine Überprüfung statt, hilft anderen jedoch gezielter deine Aufnahme zu
                            finden.
                        </mat-error>
                    </mat-form-field>
                </div>


                <div fxFlex="auto" fxLayout="row">
                    <!--            LENGTH-->
                    <mat-form-field appearance="outline" class="w-40">
                        <mat-label>Länge in Sekunden</mat-label>
                        <input type="number" placeholder="120" formControlName="length" matInput>
                        <mat-error *ngIf="form.get('length').invalid">Nur ganze Zahlen</mat-error>
                        <mat-hint *ngIf="form.get('length').value">{{form.get('length').value | secondsToMinutes}} Minuten</mat-hint>
                    </mat-form-field>

                    <!--            FPS -->
                    <mat-form-field class="ml-6 w-40" appearance="outline">
                        <mat-label>Bildrate pro Sekunde</mat-label>
                        <input type="number" placeholder="24" formControlName="fps" matInput>
                        <mat-error *ngIf="form.get('fps').invalid">Nur ganze Zahlen</mat-error>
                        <mat-hint *ngIf="form.get('fps').value">{{form.get('fps').value+' FPS'}}</mat-hint>
                    </mat-form-field>

                    <!--            RESOLUTION -->
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
                        <mat-form-field class="ml-6 w-24" appearance="outline">
                            <mat-label class="text-secondary">Breite</mat-label>
                            <input type="number" placeholder="1920" formControlName="width" matInput>
                            <mat-error *ngIf="form.get('width').invalid">Nur ganze Zahlen</mat-error>
                            <mat-hint>in Pixel</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="ml-6 w-24" appearance="outline">
                            <mat-label class="text-secondary">Höhe</mat-label>
                            <input type="number" placeholder="1080" formControlName="height" matInput>
                            <mat-error *ngIf="form.get('height').invalid">Nur ganze Zahlen</mat-error>
                            <mat-hint>in Pixel</mat-hint>
                        </mat-form-field>
                    </div>

                    <!--            CAMERA -->
                    <mat-form-field fxFlex="auto" class="ml-6" appearance="outline">
                        <mat-label>Wähle eine Drohne</mat-label>
                        <input formControlName="camera" placeholder="DJI Mavic Pro" matInput>
                        <!--                        <mat-autocomplete #auto="matAutocomplete">-->
                        <!--                            <mat-option *ngFor="let state of filteredStates$ | async" [value]="state.name">-->
                        <!--                                <img [src]="state.flag" class="align-middle mr-4 shadow-6" height="25">-->
                        <!--                                <span class="body-1">{{ state.name }}</span>-->
                        <!--                                <span class="text-hint"> | </span>-->
                        <!--                                <span class="caption text-secondary">Population: {{ state.population }}</span>-->
                        <!--                            </mat-option>-->
                        <!--                        </mat-autocomplete>-->
                        <!--                        <button class="text-secondary" mat-icon-button matSuffix type="button">-->
                        <!--                            <mat-icon>add</mat-icon>-->
                        <!--                        </button>-->
                    </mat-form-field>

                </div>

            </div>

        </div>

        <div class="mt-6" fxLayout="row" fxLayoutAlign="center center">
            <mat-form-field fxFlex="auto" class="mr-6" appearance="outline">
                <mat-label>Formate</mat-label>
                <mat-chip-list formControlName="formats" #formatsChipList aria-label="Format selection">
                    <mat-chip
                            *ngFor="let format of form.get('formats').value"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="removeFormat(format)">
                        {{format}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="+Format"
                           #formatInput
                           [formControl]="formatCtrl"
                           [matAutocomplete]="autoFormat"
                           [matChipInputFor]="formatsChipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           (matChipInputTokenEnd)="addFormat($event)">
                </mat-chip-list>
                <mat-autocomplete #autoFormat="matAutocomplete" (optionSelected)="selectedFormat($event)">
                    <mat-option *ngFor="let format of filteredFormats | async" [value]="format">
                        {{format}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>


            <mat-form-field fxFlex="auto" class="ml-6" appearance="outline">
                <mat-label>Tags</mat-label>
                <mat-chip-list formControlName="tags" #tagsChipList aria-label="Tags selection">
                    <mat-chip
                            *ngFor="let tag of form.get('tags').value"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="removeTag(tag)">
                        {{tag}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input
                            placeholder="+Tag"
                            #tagInput
                            [formControl]="tagCtrl"
                            [matAutocomplete]="autoTag"
                            [matChipInputFor]="tagsChipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addTag($event)">
                </mat-chip-list>
                <mat-autocomplete #autoTag="matAutocomplete" (optionSelected)="selectedTag($event)">
                    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                        {{tag}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

        </div>


        <ngx-dropzone class="min-h-64 border-2 border-primary" (change)="onSelectVideo($event)">
            <ng-container *ngFor="let f of files">
                <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" [file]="f" *ngIf="f.type.includes('video')"
                                            [removable]="true" (removed)="onRemove(f)">
                </ngx-dropzone-video-preview>
            </ng-container>
            <ng-container *ngFor="let f of files">
                <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" [file]="f" *ngIf="!f.type.includes('video')"
                                            [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{f.name}}<br><span class="font-bold">{{f.size | bytes}}</span></ngx-dropzone-label>
                </ngx-dropzone-preview>
            </ng-container>
            <ngx-dropzone-preview class="bg-none">
                <ngx-dropzone-label class="h-full w-full">
                    <div fxFlex="auto" fxLayout="column" fxLayoutAlign="space-evenly center" class="text-primary bg-primary-light">
                        <mat-icon class="text-3xl ">add_circle_outline</mat-icon>
                        <span>Aufnahmen hinzufügen</span></div>
                </ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
        <div class="mt-4" fxLayout="row" fxFlex="100" fxLayoutAlign="end center">

        </div>

<!--        <mat-hint class="mt-4"><span class="font-bold">Hinweis:</span> Du kannst beliebig viele Aufnahmen in unterschiedlichen Auflösungen und Formaten der gleichen Aufnahme zur Verfügung stellen.-->
<!--            <br> RAW Aufnahmen musst du in einen ZIP-Ordner packen <br> Folgende Formate werden für den Upload unterstützt:-->
<!--            <br><span class="font-bold">MOV | MP4 | ZIP</span></mat-hint>-->


    </mat-dialog-content>

    <mat-dialog-actions align="end" class="mt-12">
        <button mat-button mat-dialog-close type="button">ABBRECHEN</button>
        <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">AUFNAHME HOCHLADEN</button>
        <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">ÄNDERUNGEN SPEICHERN</button>
    </mat-dialog-actions>
</form>
