<dg-page-layout class="w-full h-screen p-gutter pt-14 container relative" fxLayout="column"
                fxLayoutAlign="start center">
    <dg-page-layout-header class="mt-16">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h1 class="font-bold">Unsere Piloten und ihre Werke.</h1>
            <h2 class="subheading-2 font-light text-center w-full mx-auto m-0 mb-12">Sie helfen dir und deinen Kreationen
                eine neue Perspektive einzunehmen.</h2>
        </div>
    </dg-page-layout-header>

    <dg-page-layout-content dgContainer fxLayout="column" fxLayoutAlign="center center">
        <mat-spinner *ngIf="isLoading" diameter="50"></mat-spinner>
        <div *ngIf="!isLoading" class="grid grid-cols-3 gap-4 w-full">
            <div *ngFor="let creator of creators">
                <div class="card">
                    <div fxLayout="row" fxLayoutAlign="space-evenly center"
                         class="p-4 text-center hover:bg-hover trans-ease-out cursor-pointer relative"
                         matRipple>
                        <img class="avatar h-20 w-20">
                        <div fxLayout="column" fxLayoutAlign="center start">
                            <h2 class="text-base font-medium mt-3">{{creator.getFullName()}}</h2>
                            <h2 class="text-xs mb-1">Berlin, Germany</h2>
                        </div>
                    </div>
                    <div class="p-2 h-64 w-full" fxLayout="column" fxLayoutAlign="center center">
                        <mat-grid-list class="w-full h-full" cols="2" gutterSize="4px" rowHeight="fit">
                            <mat-grid-tile class="rounded" *ngFor="let video of creator.footage">
                                <dg-video-item class="h-full w-full" mode="actions"  [videoItem]="video"></dg-video-item>
                            </mat-grid-tile>
                            <mat-grid-tile class="bg-primary-light rounded">{{'+'+creator.videoCount}}</mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </div>
            </div>
        </div>
    </dg-page-layout-content>
</dg-page-layout>


