//.video-item-button-wrapper mat-icon{
//  color: white;
//}


.fade-in {
  animation: fade-in 0.3s linear both;
}




dg-vjs-player{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

