<div class="toolbar card w-full px-gutter" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
        <ng-container>
            <button class="absolute top-8" (click)="toggleSidenav()" mat-fab color="primary" type="button">
                <mat-icon class="text-white">menu</mat-icon>
            </button>
        </ng-container>
    </div>
    <div fxFlex fxLayoutAlign class="ml-16">
        <img routerLink="/" class="h-8 cursor-pointer focus:outline-none" src="assets/img/logo/dronegraphy.svg" alt="dronegraphy">
    </div>
    <div>
        <dg-toolbar-search></dg-toolbar-search>
    </div>

    <ng-container>
        <div fxFlex fxLayoutAlign="end" class="-mx-1 " fxLayoutGap="8px">
            <button *ngIf="userService.user$ | async as user" mat-icon-button>
                <ng-container *ngIf="user.role">
                    <div *ngIf="user.role.includes('ROLE_MEMBER')"
                         routerLink="/checkout"
                         class="focus:outline-none rounded-full flex items-center justify-center text-primary bg-primary-light cursor-pointer h-full w-full">
                        <mat-icon *ngIf="(!orderService.cart$.value) || (orderService.cart$.value.length === 0)"
                                  [matBadge]="0" class="material-icons-outlined">shopping_bag
                        </mat-icon>
                        <mat-icon *ngIf="orderService.cart$.value && (orderService.cart$.value.length > 0)"
                                  [matBadge]="orderService.cart$.value.length" [matBadgeColor]="'warn'">shopping_bag
                        </mat-icon>
                    </div>
                    <div *ngIf="user.role.includes('ROLE_CREATOR')"
                         class="rounded-full flex items-center justify-center text-primary bg-primary-light cursor-pointer h-9 w-9">
                        <mat-icon>account_balance</mat-icon>
                    </div>
                </ng-container>
            </button>
            <button *ngIf="!(userService.user$ | async)" mat-flat-button color="primary" routerLink="/register">
                Starten
            </button>
            <button mat-flat-button class="text-primary" routerLink="/pricing">Preise</button>
            <dg-toolbar-user></dg-toolbar-user>
        </div>
    </ng-container>
</div>
<div *ngIf="(this.router.url !== '/') && !(this.router.url.includes('results'))" class="fixed top-18 right-0 px-gutter">
    <button [routerLink]="'/'" color="white" mat-mini-fab>
        <mat-icon color="primary">close</mat-icon>
    </button>
</div>





