<div class="toolbar card w-full px-gutter" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
        <button class="absolute top-8" (click)="openSidenav()" mat-fab color="primary" type="button">
            <mat-icon class="text-white">menu</mat-icon>
        </button>
    </div>

    <div fxFlex fxLayoutAlign="center center">
        <dg-toolbar-search></dg-toolbar-search>
    </div>


    <div>
        <img class="h-8" src="assets/img/logo/dronegraphy_Logo_V2.4.svg" alt="dronegraphy">
    </div>

    <ng-container>
        <div fxFlex fxLayoutAlign="end" class="-mx-1 " fxLayoutGap="8px">
            <button *ngIf="authService.user$ | async as user" mat-icon-button>
                <ng-container *ngIf="user.getRoles()">
                    <div *ngIf="user.getRoles().member"
                         class="rounded-full flex items-center justify-center text-primary bg-primary-light cursor-pointer h-9 w-9">
                        <mat-icon>shopping_cart</mat-icon>
                    </div>
                    <div *ngIf="user.getRoles().creator"
                         class="rounded-full flex items-center justify-center text-primary bg-primary-light cursor-pointer h-9 w-9">
                        <mat-icon>account_balance</mat-icon>
                    </div>
                </ng-container>
            </button>
            <button *ngIf="!(authService.user$ | async)" mat-flat-button color="primary" routerLink="/register">
                Starten
            </button>
            <button mat-flat-button class="text-primary" routerLink="/pricing">Preise</button>
            <dg-toolbar-user></dg-toolbar-user>
        </div>
    </ng-container>
</div>
<div *ngIf="this.router.url !== '/'" class="fixed top-toolbar right-0 px-gutter">
    <button [routerLink]="'/'" mat-icon-button>
        <mat-icon>close</mat-icon>
    </button>
</div>





