<dg-toolbar class="dg-toolbar relative z-50"></dg-toolbar>
<div [class.horizontal-layout]="!(isLayoutVertical$ | async)"
     [class.vertical-layout]="isLayoutVertical$ | async"
     [class.with-search]="searchOpen$ | async"
     class="page-container">

  <dg-progress-bar></dg-progress-bar>
  <ng-container *ngTemplateOutlet="toolbarRef"></ng-container>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav
                 disableClose="true"
                 (openedChange)="toggleCollapse($event)"
                 [fixedInViewport]="!(isDesktop$ | async)"
                 [mode]="!(isDesktop$ | async) || (isLayoutVertical$ | async) ? 'over' : 'side'"
                 class="sidenav">
      <ng-container *ngTemplateOutlet="sidenavRef"></ng-container>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content"

    >
      <main class="content" >
        <router-outlet></router-outlet>
      </main>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

