<div class="p-6 max-h-3xl">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px">
                <div class="w-full" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <ng-container *ngIf="userService.user$ | async as user">
                    <div fxLayout="column" fxLayoutGap="12px" fxLayoutAlign="center center" fxFlex="30"
                         class="p-4 trans-ease-out relative">
                        <img class="avatar h-40 w-40 mx-auto" matRipple
                             [src]="user.getProfileImage()">
                        <button mat-mini-fab
                                (click)="fileUpload.click()"
                                class="bg-primary-light absolute top-0 right-20" color="accent">
                            <mat-icon class="material-icons-round text-primary">edit</mat-icon>
                        </button>
                        <input [hidden]="true" type="file" (change)="onFileUpload($event)" #fileUpload id="fileUpload" name="fileUpload"  accept="image/*"/>
                    </div>
                    </ng-container>
                    <form (ngSubmit)="send()" class="px-6 py-4 max-w-lg" fxLayout="column" fxFlex="70"
                          [formGroup]="form">
                        <div fxLayout="column" fxFlex formGroupName="info">
                            <mat-form-field fxFlex="auto" appearance="standard">
                                <mat-label>Vorname</mat-label>
                                <input matInput formControlName="firstName">
                                <div fxLayout matPrefix>
                                    <button (click)="form.get('info.firstName').disabled ?  onActivateForm('firstName') : onDeactivateForm('firstName') "
                                            [matTooltip]="form.get('info.firstName').disabled ? 'Bearbeiten' : 'Speichern'"
                                            class="font-xs" mat-icon-button matPrefix
                                            type="button">
                                        <mat-icon>
                                            {{form.get('info.firstName').disabled ? 'edit' : 'save' }}
                                        </mat-icon>
                                    </button>
                                </div>
                            </mat-form-field>
                            <mat-form-field fxFlex="auto" appearance="standard">
                                <mat-label>Nachname</mat-label>
                                <input matInput required formControlName="lastName">
                                <div fxLayout matPrefix>
                                    <button
                                            (click)="form.get('info.lastName').disabled ?  onActivateForm('lastName') : onDeactivateForm('lastName') "
                                            [matTooltip]="form.get('info.lastName').disabled ? 'Bearbeiten' : 'Speichern'"
                                            class="font-xs" mat-icon-button
                                            matPrefix type="button">
                                        <mat-icon>
                                            {{form.get('info.lastName').disabled ? 'edit' : 'save'}}
                                        </mat-icon>
                                    </button>
                                </div>
                            </mat-form-field>
                            <mat-form-field fxFlex="auto" appearance="standard">
                                <mat-label>E-Mail</mat-label>
                                <input matInput required formControlName="email">
                                <div fxLayout matPrefix>
                                    <button
                                            (click)="form.get('info.email').disabled ?  onActivateForm('email') : onDeactivateForm('email')"
                                            [matTooltip]="form.get('info.email').disabled ? 'Bearbeiten' : 'Speichern'"
                                            class="font-xs" mat-icon-button
                                            matPrefix type="button">
                                        <mat-icon>
                                            {{form.get('info.email').disabled ? 'edit' : 'save'}}
                                        </mat-icon>

                                    </button>
                                </div>
                            </mat-form-field>
                            <mat-form-field fxFlex="auto" appearance="standard">
                                <mat-label>Dein Slogan</mat-label>
                                <textarea matInput
                                          cdkTextareaAutosize
                                          formControlName="slogan"
                                          #autosize="cdkTextareaAutosize"
                                          cdkAutosizeMinRows="1"
                                          cdkAutosizeMaxRows="5"></textarea>
                                <div fxLayout matPrefix>
                                    <button
                                            (click)="form.get('info.slogan').disabled ?  onActivateForm('slogan') : onDeactivateForm('slogan')"
                                            [matTooltip]="form.get('info.slogan').disabled ? 'Bearbeiten' : 'Speichern'"
                                            class="font-xs" mat-icon-button
                                            matPrefix type="button">
                                        <mat-icon>
                                            {{form.get('info.slogan').disabled ? 'edit' : 'save'}}
                                        </mat-icon>

                                    </button>
                                </div>
                            </mat-form-field>
                        </div>
                        <mat-form-field fxFlex="auto" appearance="standard">
                            <mat-label>Passwort ändern</mat-label>
                            <input [type]="inputType" matInput formControlName="password">
                            <div matPrefix fxLayout="row">
                                <button (click)="togglePassword()" mat-icon-button type="button">
                                    <mat-icon *ngIf="visible">visibility</mat-icon>
                                    <mat-icon *ngIf="!visible">visibility_off</mat-icon>
                                </button>
                                <button *ngIf="form.get('password').value !== ''" mat-icon-button
                                        type="button">
                                    <mat-icon>save</mat-icon>
                                </button>
                            </div>

                            <!--                                            <mat-error *ngIf="form.get('password').value && !form.get('password').valid">Oops, das Password erfüllt nicht unsere Anforderungen.</mat-error>-->
                        </mat-form-field>
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
                            <button [color]="!isLoading ? 'primary' : null" mat-flat-button
                                    type="submit">
                                <div *ngIf="isLoading" class="h-10 w-full" fxLayout="row"
                                     fxLayoutAlign="center center">
                                    <mat-spinner color="accent" diameter="25"></mat-spinner>
                                </div>
                                <span *ngIf="!isLoading">SPEICHERN</span>
                            </button>
                        </div>
                    </form>
                </div>
    </div>
</div>
