@font-face {
  font-family: 'Cera Round Pro';
  src: url('assets/fonts/Regular/CeraRoundPro-Regular.woff2') format('woff2'),
  url('assets/fonts/Regular/CeraRoundPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url('assets/fonts/Medium/CeraRoundPro-Medium.woff2') format('woff2'),
  url('assets/fonts/Medium/CeraRoundPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url('assets/fonts/Bold/CeraRoundPro-Bold.woff2') format('woff2'),
  url('assets/fonts/Bold/CeraRoundPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url('assets/fonts/Black/CeraRoundPro-Black.woff2') format('woff2'),
  url('assets/fonts/Black/CeraRoundPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url('assets/fonts/Thin/CeraRoundPro-Thin.woff2') format('woff2'),
  url('assets/fonts/Thin/CeraRoundPro-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Round Pro';
  src: url('assets/fonts/Light/CeraRoundPro-Light.woff2') format('woff2'),
  url('assets/fonts/Light/CeraRoundPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

