<!--<mat-tab-group class="h-full" mat-align-tabs="center">-->
<!--    <mat-tab label="Persönliche Infos">-->
<!-- -->
<!--    </mat-tab>-->
<!--    <mat-tab label="Meine Aufnahmen">-->

<!--    </mat-tab>-->
<!--    <mat-tab label="Meine Einnahmen">-->
<!--    -->
<!--    </mat-tab>-->
<!--</mat-tab-group>-->


<nav class="vex-tabs vex-tabs-dense border-0" mat-tab-nav-bar>
    <a #rla="routerLinkActive"
       *ngFor="let link of links"
       [active]="rla.isActive"
       [disabled]="link.disabled"
       [routerLink]="link.route"
       mat-tab-link
       queryParamsHandling="preserve"
       [routerLinkActiveOptions]="link.routerLinkActiveOptions || { exact: false }"
       routerLinkActive>
        {{ link.label }}
    </a>
</nav>

<router-outlet></router-outlet>
