<div class="w-full  p-gutter pt-14 container overflow-auto h-screen relative" fxLayout="column" fxFill infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="50"
     [scrollWindow]="false"
     (scrolled)="onLoad()">
    <section fxLayout="row" fxLayoutAlign="center center" fxFlex="450px"
             class="absolute top-0 left-0 w-full z-0">
        <ng-container *ngIf="videoItem">
            <div class="absolute top-0 left-0 z-10 w-full h-full"
                 style="background: linear-gradient(0deg, rgba(245,246,248,1) 0%, rgba(0,115,236,0.2) 100%);">
            </div>
            <div class="absolute z-0 bg-primary w-full h-full overflow-hidden">
                <dg-vjs-player [options]="options"></dg-vjs-player>
            </div>
        </ng-container>
    </section>
    <section fxLayout="row" fxLayoutAlign="center center" fxFlex="450px" class="relative">
        <dg-header></dg-header>
    </section>
    <div class="sticky top-8 h-12 w-full z-10 backdrop-blur">
        <dg-sort-bar ></dg-sort-bar>
    </div>
    <section fxLayout="row" fxLayoutGap="24px">
        <div fxLayout="column" fxFlex="250px">
            <div class="sticky top-20 text-center shadow-md bg-white pb-8 z-10">
                <dg-tree-checkboxes ></dg-tree-checkboxes>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <button *ngIf="!(userService.user$ | async)" mat-flat-button color="primary" routerLink="register"
                            class="mt-8">Starten
                    </button>
                    <button *ngIf="userService.user$ | async" mat-flat-button color="primary" routerLink="pricing"
                            class="mt-8">Preise
                    </button>
                    <button mat-button color="primary" routerLink="creators" class="mt-8">Alle Piloten</button>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxFlex="auto">
            <dg-video-grid  [videos]="videos$.value"></dg-video-grid>
            <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center" class="w-full h-20">
                <mat-spinner diameter="30"></mat-spinner>
            </div>
            <div *ngIf="endOfResults" fxLayout="row" fxLayoutAlign="center center" class="w-full h-20">
                END OF RESULTS
            </div>
        </div>
    </section>

</div>


