<div class="w-full h-full p-gutter container bg-pattern" fxLayout="column" fxFill>
    <section fxLayout="row" fxLayoutAlign="center center" fxFlex="450px" class="bg-blue">
        <vex-start></vex-start>
    </section>
    <section fxLayout="row" fxLayoutGap="24px">
        <div fxLayout="column" fxFlex="">
            <div class="sticky top-100 text-center shadow-md bg-white pb-8">
                <tree-checkboxes class="bg-green "></tree-checkboxes>
                <button mat-flat-button color="primary" class="mt-8" >Starten</button>
            </div>
        </div>
        <div fxLayout="column" fxFlex="auto" class="">
            <vex-video-grid></vex-video-grid>
        </div>
    </section>
</div>
