<dg-page-layout mode="card" class="h-full w-auto" fxLayout="column" fxLayoutAlign="start center">
    <dg-page-layout-header class="h-64">
        <h1 fxLayoutAlign="center" class="mat-display-2">Mein Account</h1>
    </dg-page-layout-header>
    <dg-page-layout-content fxLayoutAlign="center center" dgContainer>
        <div class="card w-full">
            <div *ngIf="!(userService.user$ | async)" fxLayoutAlign="center center">
                <mat-spinner color="primary"
                             diameter="25"></mat-spinner>
            </div>
            <ng-container *ngIf="userService.user$ | async as user">
                <nav class="dg-tabs dg-tabs-dense border-0" mat-tab-nav-bar mat-align-tabs="center">
                    <a #rla="routerLinkActive"
                       *ngFor="let link of links"
                       [active]="rla.isActive"
                       [disabled]="link.disabled"
                       [routerLink]="link.route"
                       mat-tab-link
                       queryParamsHandling="preserve"
                       [routerLinkActiveOptions]="link.routerLinkActiveOptions || { exact: false }"
                       routerLinkActive>
                        {{ link.label }}
                    </a>
                </nav>
            </ng-container>
            <router-outlet></router-outlet>
        </div>
    </dg-page-layout-content>
</dg-page-layout>



