<dg-page-layout mode="card" class="h-screen w-auto" fxLayout="column" fxLayoutAlign="center center">
    <h1 fxLayoutAlign="center" class="mat-display-2">Account</h1>
    <dg-page-layout-content fxLayoutAlign="center center" dgContainer>
        <div class="card w-full max-w-2xl min-h-lg">
            <mat-tab-group mat-align-tabs="center" class="h-full">
                <mat-tab label="Persönliche Infos">
                    <div class="p-6">
                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                            <div fxFlex="auto">
                                <div *ngIf="!currentUser" fxLayoutAlign="center center">
                                    <mat-spinner  color="primary"
                                                 diameter="25"></mat-spinner>
                                </div>
                                <form *ngIf="currentUser" (ngSubmit)="send()" class="px-6 py-4" fxLayout="column" [formGroup]="form">
                                    <div  fxLayout="column" fxFlex formGroupName="info">
                                        <mat-form-field fxFlex="auto" appearance="standard">
                                            <mat-label>Vorname</mat-label>
                                            <input matInput formControlName="firstName">
                                            <div fxLayout matSuffix>
                                                <button (click)="form.get('info.firstName').disabled ?  onActivateForm('firstName') : onDeactivateForm('firstName') "
                                                        [matTooltip]="form.get('info.firstName').disabled ? 'Bearbeiten' : 'Speichern'"
                                                        class="font-xs" mat-icon-button matSuffix
                                                        type="button">
                                                    <mat-icon>
                                                        {{form.get('info.firstName').disabled ? 'edit' : 'save' }}
                                                    </mat-icon>
                                                </button>
                                            </div>
                                        </mat-form-field>
                                        <mat-form-field fxFlex="auto" appearance="standard">
                                            <mat-label>Nachname</mat-label>
                                            <input matInput required formControlName="lastName">
                                            <div fxLayout matSuffix>
                                                <button
                                                        (click)="form.get('info.lastName').disabled ?  onActivateForm('lastName') : onDeactivateForm('lastName') "
                                                        [matTooltip]="form.get('info.lastName').disabled ? 'Bearbeiten' : 'Speichern'"
                                                        class="font-xs" mat-icon-button
                                                        matSuffix type="button">
                                                    <mat-icon>
                                                        {{form.get('info.lastName').disabled ? 'edit' : 'save'}}
                                                    </mat-icon>
                                                </button>
                                            </div>
                                        </mat-form-field>
                                        <mat-form-field fxFlex="auto" appearance="standard">
                                            <mat-label>E-Mail</mat-label>
                                            <input matInput required formControlName="email">
                                            <div fxLayout matSuffix>
                                                <button
                                                        (click)="form.get('info.email').disabled ?  onActivateForm('email') : onDeactivateForm('email')"
                                                        [matTooltip]="form.get('info.email').disabled ? 'Bearbeiten' : 'Speichern'"
                                                        class="font-xs" mat-icon-button
                                                        matSuffix type="button">
                                                    <mat-icon>
                                                        {{form.get('info.email').disabled ? 'edit' : 'save'}}
                                                    </mat-icon>

                                                </button>
                                            </div>
                                        </mat-form-field>
                                    </div>


                                        <mat-form-field  fxFlex="auto" appearance="standard">
                                            <mat-label>Passwort ändern</mat-label>
                                            <input [type]="inputType" matInput formControlName="password">
                                            <div matSuffix fxLayout="row">
                                                <button (click)="togglePassword()" mat-icon-button  type="button">
                                                    <mat-icon *ngIf="visible">visibility</mat-icon>
                                                    <mat-icon *ngIf="!visible">visibility_off</mat-icon>
                                                </button>
                                                <button *ngIf="form.get('password').value !== ''" mat-icon-button  type="button">
                                                    <mat-icon>save</mat-icon>
                                                </button>
                                            </div>

<!--                                            <mat-error *ngIf="form.get('password').value && !form.get('password').valid">Oops, das Password erfüllt nicht unsere Anforderungen.</mat-error>-->
                                        </mat-form-field>



                                    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
                                        <button routerLink="/" mat-button type="button">ABBRECHEN</button>
                                        <button [color]="!isLoading ? 'primary' : null" mat-flat-button type="submit" >
                                            <div  *ngIf="isLoading" class="h-10 w-full" fxLayout="row" fxLayoutAlign="center center">
                                                <mat-spinner color="accent" diameter="25"></mat-spinner>
                                            </div>
                                            <span *ngIf="!isLoading">SPEICHERN</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Meine Käufe">
                    <div class="p-6">
                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
                            <div fxFlex="auto">
                                <div class="px-6 py-4 h-full" fxLayout="column" fxLayoutAlign="space-between none">
                                    <mat-accordion hideToggle>
                                        <mat-expansion-panel class="mat-elevation-z0" *ngFor="let order of orders">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title class="text-primary">
                                                    Konto aufgeladen: {{order.date}}
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <ng-template matExpansionPanelContent>
                                                <div class="mat-body">
                                                    Anzahl: 5 Pro Downloads
                                                </div>
                                                <mat-divider class="my-3"></mat-divider>
                                                <div class="mat-body">
                                                    Bezahlt mit: PayPal
                                                </div>
                                            </ng-template>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                    <mat-paginator hidePageSize class="mat-elevation-z0" [length]="100">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Meine Lizenzen">
                    <div class="p-6">
                        Coming soon.
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </dg-page-layout-content>

</dg-page-layout>
