<ng-template #sidenavRef>
  <dg-sidenav [collapsed]="sidenavCollapsed$ | async"></dg-sidenav>
</ng-template>

<ng-template #toolbarRef>
  <dg-toolbar class="dg-toolbar fixed  z-50"></dg-toolbar>
</ng-template>

<ng-template #footerRef>
<!--  <dg-footer *ngIf="isFooterVisible$ | async" class="dg-footer"></dg-footer>-->
</ng-template>

<ng-template #quickpanelRef>
<!--  <dg-quickpanel></dg-quickpanel>-->
</ng-template>

<dg-layout [footerRef]="footerRef"
            [quickpanelRef]="quickpanelRef"
            [sidenavRef]="sidenavRef"
            [toolbarRef]="toolbarRef"></dg-layout>

<!--<dg-config-panel-toggle (openConfig)="configpanel.open()"></dg-config-panel-toggle>-->

<!-- CONFIGPANEL -->
<dg-sidebar #configpanel [invisibleBackdrop]="true" position="right">
  <dg-config-panel></dg-config-panel>
</dg-sidebar>
<!-- END CONFIGPANEL -->
