<!--<div [class]="gridLayout" class="grid gap-1 grid-cols-video-grid">-->
<!--    <ng-container *ngFor="let video of videos">-->
<!--        <dg-video-item class="rounded" mode="details" [videoItem]="video"></dg-video-item>-->
<!--    </ng-container>-->
<!--</div>-->


<mat-grid-list [responsiveCols]="gridLayout" rowHeight="16:9" gutterSize="4px">
    <mat-grid-tile *ngFor="let video of videos" [ngClass]="video.published ? '' :'opacity-25'" >
        <dg-video-item (click)="onLoadVideo(video)" class="rounded w-full h-full relative" mode="details"
                       [videoItem]="video"></dg-video-item>
        <dg-vjs-actions class="opacity-0" [videoItem]="video"></dg-vjs-actions>
    </mat-grid-tile>
</mat-grid-list>


