<section fxLayout="row" fxLayoutAlign="center center"
         class="absolute top-0 left-0 w-full z-0 h-md">
    <ng-container *ngIf="headerVideo">
        <div class="absolute top-0 left-0 z-10 w-full h-full"
             style="background: linear-gradient(0deg, rgba(245,246,248,1) 0%, rgba(0,115,236,0.6) 100%);">
        </div>
        <div class="absolute z-0 bg-primary w-full h-full overflow-hidden">
            <dg-vjs-player [options]="options"></dg-vjs-player>
        </div>
    </ng-container>
</section>
<dg-page-layout *ngIf="creator" class="w-full h-screen p-gutter pt-14 container relative" fxLayout="column"
                fxLayoutAlign="start center">
    <dg-page-layout-header class="w-full mt-16">
        <div fxLayout="column" fxLayoutAlign="center start" class="px-gutter max-w-lg">
            <h1 class="text-4xl font-semibold text-white">{{creator.getFullName()}}</h1>
            <h2 class="text-xl font-normal text-white">{{creator.getSlogan()}}</h2>
        </div>
    </dg-page-layout-header>

    <dg-page-layout-content dgContainer fxLayout="column" fxLayoutAlign="center center">
        <div class="card w-full">
            <div class="w-full p-gutter h-38" fxLayout="row" fxLayoutAlign="space-between start">
                <div class="w-full" fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="12px">
                    <div fxLayout="column" fxLayoutAlign="center center">
                       <mat-icon>subscriptions</mat-icon> {{videoCount}} Aufnahmen
                    </div>
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon>place</mat-icon> {{creator.getLocation()}}
                    </div>
                </div>
                <div class="transform -translate-y-24 w-full ">
                    <img class="mx-auto avatar h-38 w-38" src="https://thispersondoesnotexist.com/image" alt="">
                </div>
                <div class="w-full" fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="12px">
                    <div fxLayout="column">
                        <button mat-raised-button color="primary">
                            <mat-icon class="mx-1">add</mat-icon>
                            <span>Zu Favoriten</span></button>
                    </div>
                    <div fxLayout="column">
                        <button mat-button color="primary">
                            <mat-icon class="mx-1">share</mat-icon>
                            <span>Teilen</span></button>
                    </div>
                </div>
            </div>
            <div *ngIf="!isLoading" class="w-full px-gutter pb-gutter">
                <dg-video-grid [videos]="creator.getFootage()"></dg-video-grid>
            </div>
            <mat-spinner *ngIf="isLoading" diameter="50" color="primary"></mat-spinner>
        </div>

    </dg-page-layout-content>




