<div fxLayout="column" fxFlexFill fxLayoutAlign="center center">
    <div>
        <h1 class="mat-display-3">Grenzenlose Drohnenaufnahmen</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFill fxLayoutGap="24px">
        <mat-form-field color="primary" appearance="outline">
            <mat-label>Finde die perfekte Aufnahme</mat-label>
            <input matInput placeholder="">
            <mat-icon matSuffix>search</mat-icon>
            <mat-hint>Beispiel: Wald, See, Meer,...</mat-hint>
        </mat-form-field>
        <div fxLayoutGap="24px">
            <button mat-raised-button color="primary">Jetzt Starten</button>
            <button mat-raised-button>Preise</button>
        </div>
    </div>
</div>
