
<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" class="relative z-10">
    <div>
        <h1 class="mat-display-3 font-bold text-white">Grenzenlose Drohnenaufnahmen</h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFill fxLayoutGap="24px">
        <dg-search></dg-search>
        <div fxLayoutGap="24px">
            <button *ngIf="!(userService.user$ | async) as user" mat-raised-button routerLink="register" color="primary" class="text-lg py-1 px-6">Jetzt Starten</button>
            <button *ngIf="(userService.user$ | async) as user" mat-raised-button routerLink="pricing" class="text-lg py-1 px-6" color="primary">Konto aufladen</button>
            <button mat-raised-button color="white" routerLink="pricing" class="text-lg py-1 text-primary px-6">Preise</button>
        </div>
    </div>
</div>

