<div class="w-full h-screen p-gutter container pt-14">
  <div class="h-full max-w-md w-full mx-auto mt-6"
       fxLayout="column" fxLayoutGap=""
       fxLayoutAlign="space-evenly center">
    <div>
      <ng-lottie width="300px"
                 height="200px"
                 [options]="options"
                 (animationCreated)="animationCreated($event)"></ng-lottie>
      <h2 class="headline mt-4">Oops, diese Seite existiert nicht.</h2>
    </div>

    <button routerLink="/" mat-raised-button color="primary" >
      <span>Zurück zu den Aufnahmen</span>
    </button>
  </div>
</div>
